@tailwind base;
@tailwind components;
@tailwind utilities;

$color_1: inherit;
$color_2: white;
$font-family_1: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

html {
  padding: 0;
  margin: 0;
  font-family: $font-family_1;
}
body {
  padding: 0;
  margin: 0;
  font-family: $font-family_1;
}
a {
  color: $color_1;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #74ffc2;
}

body::-webkit-scrollbar-thumb {
  background-color: #d1411e;
  border-radius: 20px;
  border: 3px solid #00ff52;
}

//@media (prefers-color-scheme: dark) {
//  html {
//    color-scheme: dark;
//  }
//  body {
//    color: $color_2;
//    background: black;
//  }
//}
